<<<<<<< HEAD
/* /* Company.css
=======
/* Company.css */
>>>>>>> 88dc669aafdac3d2f8c2a5fae91a1bf1ce69ca93

.company-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.company-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.departments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.department-link {
  text-decoration: none;
  color: #333;
}

.department-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.department-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.department-name {
  font-size: 18px;
  margin-bottom: 10px;
}

<<<<<<< HEAD


.department-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
} */
/* Company.css */
.company-container {
  padding: 20px;
  text-align: center;
}

.departments-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.department-link {
  text-decoration: none;
  color: #333;
}

.department-card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.department-card:hover {
  transform: translateY(-5px);
}

.department-name {
  margin-top: 0;
}

.department-image {
  max-width: 100%;
  height: auto;
}

/* .company-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.company-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.departments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.department-link {
  text-decoration: none;
  color: #333;
}

.department-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.department-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.department-name {
  font-size: 18px;
  margin-bottom: 10px;
}

=======
>>>>>>> 88dc669aafdac3d2f8c2a5fae91a1bf1ce69ca93
.department-description {
  font-size: 14px;
  text-align: center;
}

.department-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 10px;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 88dc669aafdac3d2f8c2a5fae91a1bf1ce69ca93
