.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .person-card {
    width: 200px;
    margin: 30px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
 
  .person-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .person-card p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .person-card input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
  }
  