.marketing-container {
    text-align: center;
  }
  
  .marketing-header {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .subparts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .subpart {
    width: 300px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .subpart-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .subpart-description {
    font-size: 14px;
  }
  
  .amount-fields {
    margin-top: 10px;
  }
  
  .amount-label {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .amount-input {
    width: 100%;
    padding: 1px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  